body {
  font-family: "Roboto Slab", serif;
  box-sizing: border-box;
  margin: 5px;
}
li {
  list-style: none;
}
.container__header {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 5px 30px;
  position: sticky;
  top: 0;
  background: white;
}
.container__header_h1 {
  margin-left: 3vw;
}
.container__input {
  border: 1px solid #6678b1;
  border-radius: 5px;
  padding: 7px;
  margin-right: 20px;
}
.container__input:hover {
  border: 1px solid #ff0000;
}
.container__input::placeholder {
  font-family: "Roboto Condensed", sans-serif;
  color: #36313273;
}
.container__table {
  border-collapse: collapse;
  border: 1px solid #6678b1;
  background: #485ed821;
  width: 70vw;
  margin: 1vw 0 0 23vw;
  text-align: center;
}
.container__table_th {
  width: 100%;
  position: sticky;
  top: 100px;
  background: white;
}
th {
  border-bottom: 2px solid #6678b1;
  padding: 10px 8px;
  color: brown;
}
td {
  color: #669;
  padding: 9px 8px;
  border-bottom: 1px solid #6678b1;
}
tr:hover td {
  background: #9cadeca8;
}
.container__aside {
  position: fixed;
  height: 75%;
  width: 20vw;
  left: 1.5vw;
  overflow-y: scroll;
  border: 1px;
  border-radius: 15px;
}
.container__aside::-webkit-scrollbar {
  width: 0;
}
.container__aside_ul {
  margin: 0;
  padding: 0;
}
.container__aside_li {
  list-style: none;
  border-radius: 3px;
  border: solid #363132 1px;
  margin: 3px;
  padding: 5px;
  background-color: #364fa175;
  color: #201e1e;
}
.container__aside_li:hover {
  background-color: #7c8fcc;
  font-weight: bolder;
}
.container__aside_link:active {
  color: #201e1e;
}
.container__aside_link {
  color: #201e1e;
  text-decoration: none;
}
.container__fix-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 70vw;
  height: 8vh;
  margin: 0 0 0 23vw;
  background: #d11a1ade;
  border: 1px;
  border-radius: 10px;
}
.container__button {
  height: 30px;
  margin: 10px;
  font-family: "Roboto Slab", serif;
  background: #ff7979;
  border: 0;
  border-radius: 25px;
}
.container__button:hover {
  background: #4fe24a;
  border: solid #db5d5d 2px;
}
